* text=auto eol=lf

CLAUDE.md export-ignore
.gitattributes export-ignore
.gitignore export-ignore
phpstan.neon.dist export-ignore
/.github export-ignore
.editorconfig export-ignore
/integration export-ignore
.php-cs-fixer.dist.php export-ignore
